# Python specific
__pycache__/
/.mypy_cache/
/.ruff_cache/
/.pytest_cache/

# Virtualenvs
.venv/

# Project ignored
/config/
!/config/config.json.sample
/haaska.zip
/build/
/uv-generated-requirements.txt
